:root {

}

* {
  cursor: default;
}

button, a {
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: rgb(236, 232, 228);
}

.mapContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-out;
}

.blurMap {
    filter: blur(5px) brightness(0.7);
    -webkit-filter: blur(5px) brightness(0.7);
    -moz-filter: blur(5px) brightness(0.7);
    -o-filter: blur(5px) brightness(0.7);
    -ms-filter: blur(5px) brightness(0.7);
    transition: all 1.5s linear;
}

.mapboxgl-canvas {
    position: absolute;
}
