:root {

}

* {
  cursor: default;
}

button, a {
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgb(236, 232, 228);
}

.mapContainer {
    position: relative;
    width: 100vw;
    max-width: 100vwrem;
    height: 100vh;
    max-height: 100vh;
    /*border: 6px solid black;
    border-radius: 20px;*/
}

.mapboxgl-canvas {
    position: absolute;
    /*border-radius: 12px;*/
}
