:root {
    --marker-size: 30px;
}

.markerBtn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0;
}

.markerBtn > img {
    width: var(--marker-size);
    height: auto;
    pointer-events: none;
}

.markerBtn:hover {
    opacity: 0.7;
    transition: 0.1s linear;
}

.showMarkerName:hover:before {
    position: absolute;
    top: -75%;
    width: max-content;
    content: var(--resort-name);
    background: rgba(0, 0, 0, 0.6);
    padding: 0.1rem 0.3rem;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
    transform: translate(calc(-50% + var(--marker-size) / 2));
    animation: raiseOpacity 0.1s linear;
}

@keyframes raiseOpacity {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

.popup {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.popupName {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 0.2rem;
}

.loadingWeather > h4 {
    font-weight: 400;
}

.weeklyForcastWebcamBtnContainer {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;
}

.weeklyWeatherBtn {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 220, 0, 1);
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.2rem 0.4rem;
    transition: all 0.1s ease-out;
}

.weeklyWeatherBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 220, 0, 0.6);
}

.webcamLink {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.1s ease-out;
    padding: 0;
}

.webcamLink:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 0, 0.6);
}

.webcamLink > a {
    display: block;
    text-decoration: none;
    color: rgba(255, 220, 0, 1);
    padding: 0.2rem 0.4rem;
}
