:root {
    --marker-width: 30px;
    --marker-height: auto;
}

.markerBtn {
    width: var(--marker-width);
    height: var(--marker-height);
    background: transparent;
    border: none;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    padding: 0;
    -webkit-animation: fadeImgIn 0.5s ease-in;
    animation: fadeImgIn 0.5s ease-in;
}

.markerBtn > img {
    cursor: pointer;
    width: var(--marker-width);
    height: var(--marker-height);
    transition: all 0.12s ease-out;
}

@-webkit-keyframes fadeImgIn {
    0% {-webkit-opacity: 0;}
    100% {-webkit-opacity: 1;}
}

@keyframes fadeImgIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

.markerBtn > img:hover {
    transform: rotate(10deg);
}

.showAllMarkerNames:before {
    position: absolute;
    top: -75%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    content: var(--resort-name);
    background: rgba(255, 255, 255, 0.8);
    padding: 0.1rem 0.3rem;
    border: 1px solid rgba(0, 100, 150, 1.0);
    border-radius: 8px;
    color: rgba(0, 100, 150, 1.0);
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
    transform: translate(calc(-50% + var(--marker-width) / 2));
    -webkit-animation: raiseOpacity 0.2s ease-out;
    animation: raiseOpacity 0.2s ease-out;
}

.showMarkerName:hover:before {
    position: absolute;
    top: -80%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    content: var(--resort-name);
    background: rgba(255, 255, 255, 0.8);
    padding: 0.1rem 0.3rem;
    border: 1px solid rgba(0, 100, 150, 1.0);
    border-radius: 8px;
    color: rgba(0, 100, 150, 1.0);
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
    transform: translate(calc(-50% + var(--marker-width) / 2));
    -webkit-animation: raiseOpacity 0.2s ease-out;
    animation: raiseOpacity 0.2s ease-out;
}

@-webkit-keyframes raiseOpacity {
    0% {-webkit-opacity: 0;}
    100% {-webkit-opacity: 1;}
}

@keyframes raiseOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
