:root {
    /*--weekly-weather-scale:  ;*/
}

.weeklyWeatherContainer {
    position: absolute;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    /*top: 10%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    color: white;
    width: 30rem;
    height: 22rem;
    padding: 1rem;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    z-index: 100;
    transform: scale(var(--weekly-weather-scale));
    margin-top: -15vh;
}

/*@media only screen and (min-width: 401px) and (max-width: 450px) {
  .weeklyWeatherContainer {
    transform: translate(-50%, -50%) scale(0.85);
  }
}

@media only screen and (min-width: 331px) and (max-width: 400px) {
  .weeklyWeatherContainer {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

@media only screen and (max-width: 330px) {
  .weeklyWeatherContainer {
    transform: translate(-50%, -50%) scale(0.65);
  }
}*/

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

.weeklyWeatherResortName {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 600;
}

.weeklyWeather {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.weeklyWeatherRow {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    width: 100%;
}

.weeklyWeatherRow > * {
    width: 100%;
    text-align: center;
}

.weeklyWeatherImg {
    width: 50%;
}

.weeklyWeatherImg > img{
    width: 2rem;
    height: 2rem;
}

.moreWeather {
    text-decoration: none;
    color: rgba(255, 220, 0, 1);
    margin-top: 1rem;
}

.moreWeather:hover {
    opacity: 0.6;
}
